target/
*.class
*.jar
*.war
*.log
/.mvn/
/.gradle/
/.settings/
/bin/
/backend/.idea/
/backend/HELP.md

node_modules/
dist/
build/

/.idea/
/frontend/.vscode/
/frontend/.angular/
*.iml

.DS_Store
Thumbs.db